<div class="user-profile">
    <table>
      <tr>
        <td><strong>Name:</strong></td>
        <td>
          <span *ngIf="!isEditMode">{{ userData.name }}</span>
          <input *ngIf="isEditMode" [(ngModel)]="userData.name" type="text" />
        </td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>
          <span *ngIf="!isEditMode">{{ userData.email }}</span>
          <input *ngIf="isEditMode" [(ngModel)]="userData.email" type="text" />
        </td>
      </tr>
      <tr>
        <td><strong>Phone Number:</strong></td>
        <td>
          <span *ngIf="!isEditMode">{{ userData.phoneNumber }}</span>
          <input *ngIf="isEditMode" [(ngModel)]="userData.phoneNumber" type="text" />
        </td>
      </tr>    <tr>
        <td><strong>Profile Image:</strong></td>
        <td>
          <span *ngIf="!isEditMode">
            <img [src]="'assets/users/' + userData.profileImage" alt="Profile Image" style="width: 50px; height: 50px; border-radius: 50%;" />
          </span>
          <input *ngIf="isEditMode" type="file" (change)="onFileSelected($event)" />
        </td>
      </tr>
    </table>
  
    <button *ngIf="!isEditMode" (click)="toggleEditMode()">Edit</button>

    <div *ngIf="isEditMode">
      <button (click)="saveChanges()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
    <button (click)="deactivateUser(userData.id)">Dezaktywuj Konto</button>
  </div>
  